# Computational Linear Algebra: PCA Homework

## Exercise 0.0: Initialization
Fill the missing values in this text box. **Remove the information of the second student if you are not working in a team**.

**Academic Year:** 2025/2026

### Team Members (Alphabetical Order):
1. Cetin, Taha Atabay (s349501);
2. Eroglu, Mert Deniz (s351677).

Now, fill the python list below with the Student IDs of the team

In [2]:
StudentIDs = [349501, 351677]  # <-------- Fill this list with Student IDs of the team

## Exercise 0.1: Starting Code-Cell

Download the .csv files from the web page of the course (*responses_hw.csv* and *columns_hw.csv*) and past them in **the same folder of this notebook**.


Then, run the cell below, **without modifing any line of code**.

The output of this code cell is **your personal subset of the original dataset**, with 2/3 of the original features (i.e., columns) and 3/4 of the original persons (i.e., rows).

### ATTENTION: DO NOT CHANGE THE CODE INSIDE THE FOLLOWING CELL, ANY CHANGE CAN INVALIDATE THE HOMEWORK!

In [3]:
####################################################################
############## DO NOT CHANGE THE CODE IN THIS CELL #################
####################################################################

import numpy as np
import pandas as pd
from IPython.display import display

var_entertainment_feat_types = ['Interests', 'Movies', 'Music']
var_personal_feat_types = ['Finance', 'Phobias']
fixed_feat_types = ['Personality', 'Health']

label_types = ['Demographic']

variables_by_type = {
    'Demographics': ['Age', 'Height', 'Weight', 'Number of siblings', 
                     'Gender', 'Hand', 'Education', 'Only child', 'Home Town Type',
                     'Home Type'],
    'Finance': ['Finances', 'Shopping centres', 'Branded clothing', 
                'Entertainment spending', 'Spending on looks', 
                'Spending on gadgets', 'Spending on healthy eating'],
    'Health': ['Smoking', 'Alcohol', 'Healthy eating'],
    'Interests': ['History', 'Psychology', 'Politics', 'Mathematics', 
                  'Physics', 'Internet', 'PC', 'Economy Management', 
                  'Biology', 'Chemistry', 'Reading', 'Geography', 
                  'Foreign languages', 'Medicine', 'Law', 'Cars', 
                  'Art exhibitions', 'Religion', 'Countryside, outdoors', 
                  'Dancing', 'Musical instruments', 'Writing', 'Passive sport', 
                  'Active sport', 'Gardening', 'Celebrities', 'Shopping', 
                  'Science and technology', 'Theatre', 'Fun with friends', 
                  'Adrenaline sports', 'Pets'],
    'Movies': ['Movies', 'Horror', 'Thriller', 'Comedy', 'Romantic', 
               'Sci-fi', 'War', 'Fantasy/Fairy tales', 'Animated', 
               'Documentary', 'Western', 'Action'],
    'Music': ['Music', 'Slow songs or fast songs', 'Dance', 'Folk', 
              'Country', 'Classical music', 'Musical', 'Pop', 'Rock', 
              'Metal or Hardrock', 'Punk', 'Hiphop, Rap', 'Reggae, Ska', 
              'Swing, Jazz', 'Rock n roll', 'Alternative', 'Latino', 
              'Techno, Trance', 'Opera'],
    'Personality': ['Daily events', 'Prioritising workload', 
                    'Writing notes', 'Workaholism', 'Thinking ahead', 
                    'Final judgement', 'Reliability', 'Keeping promises', 
                    'Loss of interest', 'Friends versus money', 'Funniness', 
                    'Fake', 'Criminal damage', 'Decision making', 'Elections', 
                    'Self-criticism', 'Judgment calls', 'Hypochondria', 
                    'Empathy', 'Eating to survive', 'Giving', 
                    'Compassion to animals', 'Borrowed stuff', 
                    'Loneliness', 'Cheating in school', 'Health', 
                    'Changing the past', 'God', 'Dreams', 'Charity', 
                    'Number of friends', 'Punctuality', 'Lying', 'Waiting', 
                    'New environment', 'Mood swings', 'Appearence and gestures', 
                    'Socializing', 'Achievements', 'Responding to a serious letter', 
                    'Children', 'Assertiveness', 'Getting angry', 
                    'Knowing the right people', 'Public speaking', 
                    'Unpopularity', 'Life struggles', 'Happiness in life', 
                    'Energy levels', 'Small - big dogs', 'Personality', 
                    'Finding lost valuables', 'Getting up', 'Interests or hobbies', 
                    "Parents' advice", 'Questionnaires or polls', 'Internet usage'],
    'Phobias': ['Flying', 'Storm', 'Darkness', 'Heights', 'Spiders', 'Snakes', 
                'Rats', 'Ageing', 'Dangerous dogs', 'Fear of public speaking']
}

labels = variables_by_type['Demographics']
features_all = []
for tt in variables_by_type.keys():
    if tt != 'Demographics':
        features_all += variables_by_type[tt]

def which_features(*StudentIDs):
    random_seed = min(StudentIDs)
    np.random.seed(random_seed)
    features_ = np.random.choice(features_all, int((2 * len(features_all)) / 3), replace=False).tolist()
    features = []
    features_by_type = {tt: [] for tt in variables_by_type.keys() if tt != 'Demographics'}
    for tt in variables_by_type.keys():
        ft_list = variables_by_type[tt]
        for ii in range(len(ft_list)):
            if ft_list[ii] in features_:
                features.append(ft_list[ii])
                features_by_type[tt].append(ft_list[ii])

    return features, features_by_type

features, features_by_type = which_features(*StudentIDs)

print(f'*** THESE ARE THE {len(features)} SELECTED FEATURES (SEE VARIABLE features):')
for ff in features:
    print(f'{ff}')
print('*************************************')
print('')
print('*** SELECTED FEATURES BY TYPES (SEE VARIABLE features_by_type):')
for tt in features_by_type.keys():
    print(f'{tt}: {features_by_type[tt]}')
    print('')
print('*************************************')
print('')
print('*** THESE ARE THE LABELS (SEE VARIABLE labels):')
for ll in labels:
    print(f'{ll}')
print('*************************************')

def which_rows(df, frac, *StudentIDs):
    random_seed = min(StudentIDs)
    df_ = df.sample(frac=frac, random_state=random_seed)
    return df_

responses_hw = pd.read_csv('responses_hw.csv', index_col=0)
responses = which_rows(responses_hw, 0.75, *StudentIDs)
responses = responses.loc[:, features + labels]

responses_ft = responses.loc[:, features]
responses_lb = responses.loc[:, labels]

print('')
print('*** THIS IS YOUR PERSONAL DATASET (features AND labels TOGETHER, SEE VARIABLE responses)')
display(responses)
print('')
print('*** THIS IS YOUR PERSONAL DATASET (features, SEE VARIABLE responses_ft)')
display(responses_ft)
print('')
print('*** THIS IS YOUR PERSONAL DATASET (labels, SEE VARIABLE responses_lb)')
display(responses_lb)

random_seed = min(StudentIDs)
np.random.seed(random_seed)

your_scaler = np.random.choice(['StandardScaler', 'MinMaxScaler'])

*** THESE ARE THE 93 SELECTED FEATURES (SEE VARIABLE features):
Shopping centres
Entertainment spending
Spending on looks
Spending on gadgets
Spending on healthy eating
History
Psychology
Mathematics
Internet
PC
Biology
Chemistry
Reading
Geography
Foreign languages
Medicine
Cars
Art exhibitions
Countryside, outdoors
Passive sport
Active sport
Gardening
Celebrities
Shopping
Science and technology
Theatre
Adrenaline sports
Movies
Horror
Thriller
Comedy
Romantic
Sci-fi
Fantasy/Fairy tales
Animated
Documentary
Western
Action
Music
Slow songs or fast songs
Dance
Folk
Classical music
Pop
Rock
Reggae, Ska
Swing, Jazz
Rock n roll
Latino
Techno, Trance
Opera
Daily events
Prioritising workload
Writing notes
Thinking ahead
Final judgement
Keeping promises
Loss of interest
Friends versus money
Criminal damage
Decision making
Judgment calls
Hypochondria
Empathy
Eating to survive
Giving
Compassion to animals
Borrowed stuff
Loneliness
Health
Dreams
Charity
Number of friends
Waiting
Mood swings
Children
Assertiveness
Getting angry
Knowing the right people
Unpopularity
Energy levels
Small - big dogs
Getting up
Parents' advice
Questionnaires or polls
Internet usage
Flying
Storm
Heights
Spiders
Rats
Ageing
Dangerous dogs
*************************************

*** SELECTED FEATURES BY TYPES (SEE VARIABLE features_by_type):
Finance: ['Shopping centres', 'Entertainment spending', 'Spending on looks', 'Spending on gadgets', 'Spending on healthy eating']

Health: []

Interests: ['History', 'Psychology', 'Mathematics', 'Internet', 'PC', 'Biology', 'Chemistry', 'Reading', 'Geography', 'Foreign languages', 'Medicine', 'Cars', 'Art exhibitions', 'Countryside, outdoors', 'Passive sport', 'Active sport', 'Gardening', 'Celebrities', 'Shopping', 'Science and technology', 'Theatre', 'Adrenaline sports']

Movies: ['Movies', 'Horror', 'Thriller', 'Comedy', 'Romantic', 'Sci-fi', 'Fantasy/Fairy tales', 'Animated', 'Documentary', 'Western', 'Action']

Music: ['Music', 'Slow songs or fast songs', 'Dance', 'Folk', 'Classical music', 'Pop', 'Rock', 'Reggae, Ska', 'Swing, Jazz', 'Rock n roll', 'Latino', 'Techno, Trance', 'Opera']

Personality: ['Daily events', 'Prioritising workload', 'Writing notes', 'Thinking ahead', 'Final judgement', 'Keeping promises', 'Loss of interest', 'Friends versus money', 'Criminal damage', 'Decision making', 'Judgment calls', 'Hypochondria', 'Empathy', 'Eating to survive', 'Giving', 'Compassion to animals', 'Borrowed stuff', 'Loneliness', 'Health', 'Dreams', 'Charity', 'Number of friends', 'Waiting', 'Mood swings', 'Children', 'Assertiveness', 'Getting angry', 'Knowing the right people', 'Unpopularity', 'Energy levels', 'Small - big dogs', 'Getting up', "Parents' advice", 'Questionnaires or polls', 'Internet usage']

Phobias: ['Flying', 'Storm', 'Heights', 'Spiders', 'Rats', 'Ageing', 'Dangerous dogs']

*************************************

*** THESE ARE THE LABELS (SEE VARIABLE labels):
Age
Height
Weight
Number of siblings
Gender
Hand
Education
Only child
Home Town Type
Home Type
*************************************

*** THIS IS YOUR PERSONAL DATASET (features AND labels TOGETHER, SEE VARIABLE responses)

,Shopping centres,Entertainment spending,Spending on looks,Spending on gadgets,Spending on healthy eating,History,Psychology,Mathematics,Internet,PC,...,Age,Height,Weight,Number of siblings,Gender,Hand,Education,Only child,Home Town Type,Home Type
564,2,1,2,4,5,3,4,2,5,4,...,20,162,50,0,female,right,college/bachelor degree,yes,city,block of flats
90,1,4,4,2,3,4,4,4,5,1,...,16,161,54,1,female,right,secondary school,no,village,house/bungalow
126,1,1,1,3,5,5,4,3,5,5,...,22,191,85,1,male,right,secondary school,no,village,house/bungalow
299,3,3,1,1,3,3,5,1,3,2,...,23,158,53,0,female,right,secondary school,yes,village,house/bungalow
170,5,5,5,5,5,5,4,3,5,3,...,19,171,57,0,female,right,secondary school,yes,city,block of flats
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,5,3,3,3,3,3,2,2,4,2,...,20,170,60,1,female,right,secondary school,yes,city,house/bungalow
174,5,3,4,3,5,3,4,4,4,3,...,18,180,60,1,female,right,secondary school,yes,city,block of flats
240,3,5,2,4,2,5,2,3,3,5,...,17,185,73,1,male,right,primary school,no,city,block of flats
538,5,5,5,5,5,4,4,4,4,4,...,30,173,69,0,female,right,secondary school,yes,city,block of flats
669,3,4,4,4,2,3,4,2,5,5,...,22,175,60,1,male,right,secondary school,no,city,block of flats

*** THIS IS YOUR PERSONAL DATASET (features, SEE VARIABLE responses_ft)

,Shopping centres,Entertainment spending,Spending on looks,Spending on gadgets,Spending on healthy eating,History,Psychology,Mathematics,Internet,PC,...,Parents' advice,Questionnaires or polls,Internet usage,Flying,Storm,Heights,Spiders,Rats,Ageing,Dangerous dogs
564,2,1,2,4,5,3,4,2,5,4,...,5,3,few hours a day,1,1,5,4,1,1,1
90,1,4,4,2,3,4,4,4,5,1,...,4,5,few hours a day,4,2,2,2,1,1,2
126,1,1,1,3,5,5,4,3,5,5,...,4,3,most of the day,3,1,2,1,1,4,4
299,3,3,1,1,3,3,5,1,3,2,...,3,3,less than an hour a day,1,2,2,1,1,1,2
170,5,5,5,5,5,5,4,3,5,3,...,4,3,less than an hour a day,1,3,5,1,1,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,5,3,3,3,3,3,2,2,4,2,...,3,2,less than an hour a day,1,3,2,3,2,3,3
174,5,3,4,3,5,3,4,4,4,3,...,5,3,few hours a day,2,4,2,5,5,3,4
240,3,5,2,4,2,5,2,3,3,5,...,2,3,few hours a day,1,1,3,1,1,1,2
538,5,5,5,5,5,4,4,4,4,4,...,4,4,most of the day,1,1,1,5,3,3,1
669,3,4,4,4,2,3,4,2,5,5,...,2,4,few hours a day,1,1,3,3,2,3,2

*** THIS IS YOUR PERSONAL DATASET (labels, SEE VARIABLE responses_lb)

,Age,Height,Weight,Number of siblings,Gender,Hand,Education,Only child,Home Town Type,Home Type
564,20,162,50,0,female,right,college/bachelor degree,yes,city,block of flats
90,16,161,54,1,female,right,secondary school,no,village,house/bungalow
126,22,191,85,1,male,right,secondary school,no,village,house/bungalow
299,23,158,53,0,female,right,secondary school,yes,village,house/bungalow
170,19,171,57,0,female,right,secondary school,yes,city,block of flats
...,...,...,...,...,...,...,...,...,...,...
227,20,170,60,1,female,right,secondary school,yes,city,house/bungalow
174,18,180,60,1,female,right,secondary school,yes,city,block of flats
240,17,185,73,1,male,right,primary school,no,city,block of flats
538,30,173,69,0,female,right,secondary school,yes,city,block of flats
669,22,175,60,1,male,right,secondary school,no,city,block of flats

## Exercise 0.2: Importing Modules

In the following cell, import all the modules you think are necessary for doing the homework, **among the ones listed and used during the laboratories of the course**.

For reproducibility, **no extra modules are allowed**.

**DO NOT IMPORT NUMPY NOR PANDAS**, they are already imported.

In [21]:
# DO NOT IMPORT NUMPY AND PANDAS - Already imported
# import ...
from sklearn.preprocessing import StandardScaler

## Exercise 1. Dataset Preprocessing

In this exercise, you have to do the following operations on the dataset of the features **responses_ft**:
1. Create a new dataframe called **responses_ft_enc** by encoding the categorical features (if they exist), motivating your choices;
1. Create a new dataframe called **responses_ft_pp** by preprocessing the data in **responses_ft_enc**, according to the scaler reported in the cell below.

In [5]:
print(f'*** YOU HAVE TO APPLY A PREPROCESSING USING THE {your_scaler}')

*** YOU HAVE TO APPLY A PREPROCESSING USING THE StandardScaler

For doing this exercise, fill the cells below following the instructions you read.

#### Describe and motivate the encoding operations you will apply (max 150 words):
...

#### Describe the preprocessing operation you will apply and comment the effects it may have on the data (max 150 words):
...

#### Write the code for performing the encoding and preprocessing operations of the exercise. Show the encoded data and the preprocessed data you obtain, plus any additional table/value that can be useful for commenting the results:

In [ ]:
# [write the code here]
filepath = "columns_hw.csv"
categoricals = []
with open(filepath, "r") as f:
    for line in f:
        temp = line.strip().split(",")
        if(temp[-1]=="category"):
            categoricals.append(temp[1])

#we dont have all the categories since the datasets are chosen as a subset of the original
current_categs = set(responses.columns)
categoricals = [x for x in categoricals if x in current_categs]
#now we have categorical datas from our assigned dataset
print(categoricals)

#we will see the correct answer options and map them accordingly
for col in categoricals:
    print(f"Column: {col}")
    print(responses[col].unique())
    print("-" * 20)

internet_map = {
    "no time at all": 0,
    "less than an hour a day": 1,
    "few hours a day": 2,
    "most of the day": 3
}
gender_map = {
    "female": 0,
    "male": 1
}
hand_map = {
    "left": 0,
    "right": 1
}
education_map = {
    "currently a primary school pupil": 0,
    "primary school": 1,
    "secondary school": 2,
    "college/bachelor degree": 3,
    "masters degree": 4,
    "doctorate degree": 5
}
onlychild_map = {
    "no": 0,
    "yes": 1
}
home_town_type_map = {
    "city": 0,
    "village": 1
}
home_type_map = {
    "house/bungalow": 0,
    "block of flats": 1
}
mappings = {
    "Internet usage": internet_map,
    "Gender": gender_map,
    "Hand": hand_map,
    "Education": education_map,
    "Only child": onlychild_map,
    "Home Town Type": home_town_type_map,
    "Home Type": home_type_map
}

responses_enc = responses.copy()
for col, mapper in mappings.items():
    if col in responses_enc.columns:
        responses_enc[col] = responses_enc[col].map(mapper)
display(responses_enc)
#now we have our categorical data encoded correctly

#to preprocess and normalize our data, we will use the assigned scaler to us, which is the StandardScaler
scaler = StandardScaler()
responses_stand_array = scaler.fit_transform(responses_enc)
responses_stand = pd.DataFrame(responses_stand_array, columns=responses_enc.columns, index=responses_enc.index)
#responses_stand variable is our responses standardized
display(responses_stand)

['Internet usage', 'Gender', 'Hand', 'Education', 'Only child', 'Home Town Type', 'Home Type']
Column: Internet usage
['few hours a day' 'most of the day' 'less than an hour a day']
--------------------
Column: Gender
['female' 'male']
--------------------
Column: Hand
['right' 'left']
--------------------
Column: Education
['college/bachelor degree' 'secondary school' 'primary school'
 'masters degree' 'doctorate degree' 'currently a primary school pupil']
--------------------
Column: Only child
['yes' 'no']
--------------------
Column: Home Town Type
['city' 'village']
--------------------
Column: Home Type
['block of flats' 'house/bungalow']
--------------------

,Shopping centres,Entertainment spending,Spending on looks,Spending on gadgets,Spending on healthy eating,History,Psychology,Mathematics,Internet,PC,...,Age,Height,Weight,Number of siblings,Gender,Hand,Education,Only child,Home Town Type,Home Type
564,2,1,2,4,5,3,4,2,5,4,...,20,162,50,0,0,1,3,1,0,1
90,1,4,4,2,3,4,4,4,5,1,...,16,161,54,1,0,1,2,0,1,0
126,1,1,1,3,5,5,4,3,5,5,...,22,191,85,1,1,1,2,0,1,0
299,3,3,1,1,3,3,5,1,3,2,...,23,158,53,0,0,1,2,1,1,0
170,5,5,5,5,5,5,4,3,5,3,...,19,171,57,0,0,1,2,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,5,3,3,3,3,3,2,2,4,2,...,20,170,60,1,0,1,2,1,0,0
174,5,3,4,3,5,3,4,4,4,3,...,18,180,60,1,0,1,2,1,0,1
240,3,5,2,4,2,5,2,3,3,5,...,17,185,73,1,1,1,1,0,0,1
538,5,5,5,5,5,4,4,4,4,4,...,30,173,69,0,0,1,2,1,0,1
669,3,4,4,4,2,3,4,2,5,5,...,22,175,60,1,1,1,2,0,0,1

,Shopping centres,Entertainment spending,Spending on looks,Spending on gadgets,Spending on healthy eating,History,Psychology,Mathematics,Internet,PC,...,Age,Height,Weight,Number of siblings,Gender,Hand,Education,Only child,Home Town Type,Home Type
564,-0.986418,-1.904935,-0.911240,0.916049,1.413916,-0.184489,0.734008,-0.254056,0.899036,0.678681,...,-0.127907,-1.242545,-1.173896,-1.279343,-0.821886,0.319995,1.005973,1.823400,-0.633768,0.808452
90,-1.761460,0.700192,0.768496,-0.649899,-0.476286,0.606626,0.734008,1.258326,0.899036,-1.636460,...,-1.582308,-1.350259,-0.881470,-0.281889,-0.821886,0.319995,-0.373491,-0.548426,1.577864,-1.236932
126,-1.761460,-1.904935,-1.751108,0.133075,1.413916,1.397742,0.734008,0.502135,0.899036,1.450395,...,0.599294,1.881167,1.384836,-0.281889,1.216714,0.319995,-0.373491,-0.548426,1.577864,-1.236932
299,-0.211375,-0.168183,-1.751108,-1.432874,-0.476286,-0.184489,1.544943,-1.010248,-1.330926,-0.864746,...,0.962894,-1.673402,-0.954576,-1.279343,-0.821886,0.319995,-0.373491,1.823400,1.577864,-1.236932
170,1.338710,1.568568,1.608364,1.699023,1.413916,1.397742,0.734008,0.502135,0.899036,-0.093033,...,-0.491507,-0.273117,-0.662150,-1.279343,-0.821886,0.319995,-0.373491,1.823400,-0.633768,0.808452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,1.338710,-0.168183,-0.071372,0.133075,-0.476286,-0.184489,-0.887862,-0.254056,-0.215945,-0.864746,...,-0.127907,-0.380831,-0.442830,-0.281889,-0.821886,0.319995,-0.373491,1.823400,-0.633768,-1.236932
174,1.338710,-0.168183,0.768496,0.133075,1.413916,-0.184489,0.734008,1.258326,-0.215945,-0.093033,...,-0.855108,0.696311,-0.442830,-0.281889,-0.821886,0.319995,-0.373491,1.823400,-0.633768,0.808452
240,-0.211375,1.568568,-0.911240,0.916049,-1.421387,1.397742,-0.887862,0.502135,-1.330926,1.450395,...,-1.218708,1.234882,0.507557,-0.281889,1.216714,0.319995,-1.752955,-0.548426,-0.633768,0.808452
538,1.338710,1.568568,1.608364,1.699023,1.413916,0.606626,0.734008,1.258326,-0.215945,0.678681,...,3.508097,-0.057689,0.215130,-1.279343,-0.821886,0.319995,-0.373491,1.823400,-0.633768,0.808452
669,-0.211375,0.700192,0.768496,0.916049,-1.421387,-0.184489,0.734008,-0.254056,0.899036,1.450395,...,0.599294,0.157740,-0.442830,-0.281889,1.216714,0.319995,-0.373491,-0.548426,-0.633768,0.808452

#### Comment the results obtained after the preprocessing operation (max 100 words):
...

## Exercise 2. Analyzing the Variance and the PCs

In this exercise, you have to do the following operations:
1. compute and visualize the variance of all the features in *responses_ft_enc* and *responses_ft_pp*;
1. compute all the $n$ Principal Components (PCs) for *responses_ft_enc* and *responses_ft_pp*, separately, and visualize the curves of the cumulative explained variances.

For doing this exercise, fill the cells below following the instructions you read.

#### Write the code for computing and visualizing the variance of the features of the two datasets:

In [7]:
# [write the code here]

#### Comment the results obtained for the variances (max 150 words):
...

#### Write the code for computing all the $n$ PCs of the two datasets, separately, and for visualizing the curves of cumulative explained variances:

In [8]:
# [write the code here]

#### Comment the results obtained for the cumulative explained variances, knowing the vaues in the datasets and the fetures' variances (max 150 words):

...

## Exercise 3. Dimensionality Reduction and PC Interpretation

In this exercise, you have to do the following operations:
1. For the dataset *responses_ft_pp*, compute a new PCA for performing a dimensionality reduction with respect to $m$ dimensions. The value of $m$ must be $$m = \min\{m', 5\}\,,$$ where $m'$ is the value required for obtaining $33\%$ of the total variance.
1. Visualize as a barplot the explained variance (as percentage) for each PC, and report the preserved explained variance (as percentage) by the $m$ PCs.
1. Visualize all the PCs as barplots and give an interpretation and a name to them, **motivating your choices**.
1. Transform the *responses_ft_pp* data into their $m$-dimensional representation via PCA. Store the transformed data in the variable *responses_ft_pca*;
1. Visualize the the score graph. If $m>3$, plot the score graph with respect to the first 3 PCs. All the **plots must show the names of the PCs (given at the previous step) on the axes** for better understanding the results.

#### Write the code for computing the new PCA, for visualizing the $m$ PCs as barplots:

In [9]:
# [write the code here]

#### For each PC, write the name you assigned to it and a brief interpretation that motivate the choice (max 100 words per PC):

...

#### Write the code for visualizing the score graph (with PC names on the axis):

In [10]:
# [write the code here]

## Exercise 4. $k$-Means

In this exercise, you have to do the following operations:
1. Run the $k$-Means for clustering the data of *responses_ft_pca*, **setting the input argument *random_state* equal to the variable *random_seed*** (i.e., the minimum of the Student IDs).

   In particular, **use the silohuette score for identifying the best value for $k\in\{3, \ldots, 10\}$** and show it by plotting how the score changes w.r.t. $k$.
1. Plot the score graph again, but add the centroids of the cluster and color the points according to their cluster.
1. Visualize the centroids coordinates as barplots and **give a name and an interpretation to them by exploiting the PC names**.


#### Write the code for performing the items of the list above:

In [11]:
# [write the code here]

#### For each Centroid, write the name you assigned to it and a brief interpretation that motivate the choice by exploiting the PC names(max 100 words per centroid):

...

## Exercise 5. Cluster External Evaluations

In this exercise, you have to do the following operations:
1. Select a subset meaningful labels for performing an external evaluation of the clustering results.
1. For each selected label, visualize the distribution of the label in each cluster and in the whole dataset.
1. Visualize the score graph with dots colored with respect to the label value; then, visualize the clusters in separated score-graphs, coloring the points according to the label values.

#### List the Labels you consider meaningful for an external cluster evaluation and motivate your choice (max 50 words per label):

...


#### Write the code for the visualizations cited in item 2 above:

In [12]:
# [write the code here]

#### For each selected label, comment the results observed in the visualizations (max 100 words per label):

...

## Exercise 6. Cluster Internal Evaluations

In this exercise, you have to do the following operations:
1. For each cluster, measure the corresponding average silhouette score
1. Visualize the silhouette of the clusters and the general one of the clustering and compare them


#### Write the code for computing the silhouette scores and for visualizing them:

In [13]:
# [write the code here]

#### Comment the results, also considering the results observed previously (e.g., score graphs, centroids, etc. - max 150 words):

...